---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
      <h1>Acerca de...<h1>
      <p>
      Esta página está creada por Miguel Angel Cobo como trabajo del Catálogo de trabajos de Bachillerato artístico.
      </p>
    </BaseLayout>